<form action="/v1/save" method="post">
    <label>Departure city:
        <input
                type="text"
                value="<%  %>"
                name="departure"
                placeholder="write departure city"
        >
    </label>
    <br>
    <label>Destinationcity:
        <input
                type="text"
                value="<%  %>"
                name="destination"
                placeholder="write destination city"
        >
    </label>
    <input type="submit" value="submit">
</form>
