<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WELCOME</title>
</head>
<body>
<nav>
    <a href="/api/v1/cities/">All cities</a>
    |
    <a href="/add/ticket/">Order a ticket</a>
    |
    <a href="/get/ticket/">Show tickets</a>
</nav>
<hr>
<%- body %>
</body>
</html>
